{% extends 'flatpages/default.html' %}

{% block title %}Объявление: '{{ article.title }}'{% endblock title %}

 {% block content %}
    <h2>Объявление: '{{ article.title }}'</h2>
<table>
<tr>
    <td>Заголовок</td>
    <td>Автор</td>
    <td>Дата создания</td>
    <td>Содержание</td>
    <td>Категория</td>
</tr>
<tr>
    <td>{{ article.title }}</td>
    <td>{{ article.author }}</td>
    <td>{{ article.date_creation }}</td>
    <td>{{ article.text|safe }}</td>
    <td>{{ article.get_category_display }}</td>
</tr>
</table>
<h3>Добавить отклик:</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить">
</form>
{% if article.responses.all %}
<h3>Все отклики:</h3>
{% for user_response in article.responses.all %}
{% if user_response.status %}
<p>{{ user_response.text }}</p>
{% else %}
<p>Содержание отклика будет доступно после его принятия автором объявления!</p>
{% endif %}
{% endfor %}
{% else %}
Пока откликов нет!
{% endif %}

{% endblock content %}
